{% extends 'base.html' %}
{% load static %}

{% block title %}Collection History Search{% endblock %}

{% block content %}
<div class="container">
  <div class="page-inner">
    <div class="page-header d-print-none">
      <h4 class="fw-bold mb-3">Collection History Search</h4>
      <ul class="breadcrumbs mb-3">
        <li class="nav-home">
          <a href="{% url 'dashboard' %}">
            <i class="ri-home-3-line"></i>
          </a>
        </li>
        <li class="separator">
          <i class="ri-arrow-right-s-line"></i>
        </li>
        <li class="nav-item">
          <span class="op-7">Collections</span>
        </li>
        <li class="separator">
          <i class="ri-arrow-right-s-line"></i>
        </li>
        <li class="nav-item">
          <span class="op-7">Collection History Search</span>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        
        <div class="card card-stats card-round">                  
          <div class="card-body">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="form-group">
                    <label for="consumerNo">Consumer No.<i class="ri-asterisk"></i></label>
                    <input type="text" class="form-control" id="consumerNo" placeholder="Enter Consumer number">                          
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="form-group">
                    <label for="consumerName">Consumer Name<i class="ri-asterisk"></i></label>
                    <input type="text" class="form-control" id="consumerName" placeholder="Enter consumer name">                          
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="form-group">
                    <label for="mobileNo">Mobile No.<i class="ri-asterisk"></i></label>
                    <input type="number" class="form-control" id="mobileNo" placeholder="Enter mobile number">                          
                  </div>
                </div>                        
              </div>
              <div class="col-12 py-4 text-center">
                  <a href="{% url 'collection-history' %}"><button type="submit" class="btn btn-primary btn-sm" name="submit" id="orSearch"><i class="fa fa-search"></i> Search</button></a>
              </div>
          </div>
          
        </div>
      </div>
      
    </div>
    
  </div>
</div>

{% endblock %}