{% extends 'base.html' %}
{% load static %}

{% block title %}Daily Cash Closing{% endblock %}

{% block content %}
<div class="container">
  <div class="page-inner">
    <div class="page-header d-print-none">
      <h4 class="fw-bold mb-3">Daily Cash Closing</h4>
      <ul class="breadcrumbs mb-3">
        <li class="nav-home">
          <a href="{% url 'dashboard' %}">
            <i class="ri-home-3-line"></i>
          </a>
        </li>
        <li class="separator">
          <i class="ri-arrow-right-s-line"></i>
        </li>
        <li class="nav-item">
          <span class="op-7">Collections</span>
        </li>
        <li class="separator">
          <i class="ri-arrow-right-s-line"></i>
        </li>
        <li class="nav-item">
          <span class="op-7">Daily Cash Closing</span>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="card card-stats card-round">   
          <div class="card-header d-print-none text-start">
            <a href="{% url 'daily-cash-closing-search' %}"><button class="btn btn-black btn-sm"><strong><i class="ri-arrow-left-circle-line"></i> Back</strong></button></a>
          </div>               
          <div class="card-body">
            <form action="">
              <div class="row">
                <div class="table-responsive">
                  <h5 class="pb-1"><strong>Basic Details</strong></h5>
                  <table class="display table table-bordered table-hover my-3 table-head-bg-light " width="100%">
                    <thead>
                      <tr>
                        <th colspan="6" class="text-center">Basic Details</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Date</td>
                        <td colspan="3" class="fw-bold">29-Jul-2026</td>
                        <td>Centre</td>
                        <td colspan="3" class="fw-bold">Jaipur</td>
                      </tr>
                      <tr>
                        <td>Cashier</td>
                        <td colspan="3" class="fw-bold">Mohit Yadav</td>
                        <td>Status</td>
                        <td colspan="3" class="fw-bold text-success">OPEN</td>
                      </tr>
                    </tbody>
                  </table>
                </div>                        
              </div>
              <div class="row">
                <div class="table-responsive">
                  <h5 class="pb-1"><strong>Daily Cash Closing</strong></h5>
                  <table class="display table table-bordered my-4" width="100%">
                    <tbody>
                      <tr>
                        <td class="fw-bold">
                          Opening Cash (₹)</td>
                        <td class="text-center">:</td>
                        <td class="fw-bold">
                          <input type="number" class="form-control" id="openingCash" name="openingCash" value="5000.00" required readonly>
                        </td>
                      </tr>
                      <tr>
                        <td class="fw-bold">
                          Today's Cash Collection (₹)</td>
                        <td class="text-center">:</td>
                        <td class="fw-bold">
                          <input type="text" class="form-control" id="todaysCollection" name="todaysCollection" value="25,000.00" required readonly>
                        </td>
                      </tr>
                      <tr style="border: 2px solid black;">
                        <td class="fw-bold">Total Cash Available (₹) (OC+TCC)</td>
                        <td class="text-center">:</td>
                        <td class="fw-bold">
                          <input type="text" class="form-control" id="totalCash" name="totalCash" value="30,000.00" required readonly>
                        </td>
                      </tr>
                      <tr>
                        <td class="fw-bold">
                          Cash Deposited (₹)<i class="ri-asterisk"></i></td>
                        <td class="text-center">:</td>
                        <td class="fw-bold">
                          <input type="number" class="form-control text-center" id="cashDeposited" name="cashDeposited" value="" placeholder="Enter Cash Deposited" required>
                        </td>
                      </tr>
                      <tr>
                        <td class="fw-bold">
                          Expected Cash balance (₹) (TCA-CD)</td>
                        <td class="text-center">:</td>
                        <td class="fw-bold">
                          <input type="number" class="form-control" id="openingCash" name="openingCash" value="10000.00" required readonly>
                        </td>
                      </tr>
                      <tr>
                        <td class="fw-bold">
                          Cash Remaining (Physical Count) (₹)<i class="ri-asterisk"></i></td>
                        <td class="text-center">:</td>
                        <td class="fw-bold">
                          <input type="number" class="form-control text-center" id="cashCount" name="cashCount" value="" placeholder="Enter Cash Remaining" required>
                        </td>
                      </tr>
                      <tr>
                        <td class="fw-bold">
                          Difference (₹)</td>
                        <td class="text-center">:</td>
                        <td class="fw-bold">
                          <input type="number" class="form-control" id="cashDifference" name="cashDifference" value="0.00" required readonly>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="display table table-bordered my-4" width="100%">
                    <tbody>
                      <tr>
                        <td class="fw-bold">Closing Remark</td>
                        <td class="text-center">:</td>
                        <td class="fw-bold">
                          <textarea id="closingRemark" name="closingRemark" class="form-control" rows="3" cols="20" placeholder="Type Closing Remark.."></textarea>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="d-print-none">
                  <p class="text-center p-1">
                    <button type="submit" class="btn btn-success btn-sm" name="submit"><strong>Submit & Close Day</strong></button>
                  </p>
              </div>
            </form>
          </div>
          
        </div>
      </div>
      
    </div>
    
  </div>
</div> 

{% endblock %}