{% extends 'base.html' %}
{% load static %}

{% block title %}Department View{% endblock %}

{% block content %}
<div class="container">
  <div class="page-inner">
    <div class="page-header d-print-none">
      <h4 class="fw-bold mb-3">Department</h4>
      <ul class="breadcrumbs mb-3">
        <li class="nav-home">
          <a href="{% url 'dashboard' %}">
            <i class="ri-home-3-line"></i>
          </a>
        </li>
        <li class="separator">
          <i class="ri-arrow-right-s-line"></i>
        </li>
        <li class="nav-item">
          <span class="op-7">Masters</span>
        </li>
        <li class="separator">
          <i class="ri-arrow-right-s-line"></i>
        </li>
        <li class="nav-item">
          <a href="{% url 'department-master' %}">
            <span class="op-7">Department Master</span>
          </a>
        </li>
        <li class="separator">
          <i class="ri-arrow-right-s-line"></i>
        </li>
        <li class="nav-item">
          <span class="op-7">Department</span>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        
        <div class="card card-stats card-round">
          <div class="card-header d-print-none text-start">
              <a href="{% url 'department-master' %}"><button class="btn btn-black btn-sm"><strong><i class="ri-arrow-left-circle-line"></i> Back</strong></button></a>
          </div>
          
          <div class="card-body">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="departmentName">Department Name</label><i class="ri-asterisk"></i>
                    <p class="fw-bold">UD Tax</p>
                  </div>                 
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="departmentCode">Department Code</label><i class="ri-asterisk"></i>
                    <p class="fw-bold">DEP001</p>
                  </div>                 
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label class="form-label">Department Status</label><i class="ri-asterisk"></i>
                    <br>
                    <p class="fw-bold">Active</p>
                  </div>                     
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="remark">Remark (Optional)</label>
                    <p class="fw-bold"></p>
                  </div>
                </div>
              </div>
          </div>
          
        </div>
      </div>
      
    </div>
    
  </div>
</div> 
{% endblock %}
