{% extends 'base.html' %}
{% load static %}

{% block title %}Pending Collection History{% endblock %}

{% block content %}
<div class="container">
  <div class="page-inner">
    <div class="page-header d-print-none">
      <h4 class="fw-bold mb-3">Pending Collection History</h4>
      <ul class="breadcrumbs mb-3">
        <li class="nav-home">
          <a href="{% url 'dashboard' %}">
            <i class="ri-home-3-line"></i>
          </a>
        </li>
        <li class="separator">
          <i class="ri-arrow-right-s-line"></i>
        </li>
        <li class="nav-item">
          <span class="op-7">Collections</span>
        </li>
        <li class="separator">
          <i class="ri-arrow-right-s-line"></i>
        </li>
        <li class="nav-item">
          <span class="op-7">Pending Collection History</span>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        
        <div class="card card-stats card-round">
          <div class="card-header d-print-none text-start">
              <a href="{% url 'pending-collection-history-search' %}"><button class="btn btn-black btn-sm"><strong><i class="ri-arrow-left-circle-line"></i> Back</strong></button></a>
          </div>
          
          <div class="card-body">
              <div class="row">
                <div class="table-responsive">
                  <h5 class="pb-1"><strong>Basic Details</strong></h5>
                  <table class="display table table-bordered my-3 table-head-bg-light" width="100%">
                    <thead>
                      <tr><th colspan="6" class="text-center">Basic Details</th>
                    </tr></thead>
                    <tbody>
                      <tr>
                        <td>Consumer No.</td>
                        <td class="fw-bold">98765</td>
                        <td>Consumer Name</td>
                        <td class="fw-bold">MADHUR MANGAL</td>
                        <td>Father's Name</td>
                        <td colspan="3" class="fw-bold">SANJAY MANGAL</td>
                      </tr>
                      <tr>
                        <td>Mobile No.</td>
                        <td colspan="3" class="fw-bold">9876543210</td>
                        <td>Email ID</td>
                        <td colspan="3" class="fw-bold">madhur@gmail.com</td>
                      </tr>
                      <tr>
                        <td>Permanent Address</td>
                        <td colspan="3" class="fw-bold">KHAJDO KA BASS MANSAROVAR JAIPUR</td>
                        <td>Communication Address</td>
                        <td colspan="3" class="fw-bold">KHAJDO KA BASS MANSAROVAR JAIPUR</td>
                      </tr>
                    </tbody>
                  </table>
                  <h5 class="pb-1"><strong>Bill Dues Details</strong></h5>
                  <table class="display table table-bordered my-3 table-head-bg-light" width="100%">
                    <thead>
                      <tr class="text-center">
                        <th colspan="10">Bill Summary</th>
                      </tr>
                      <tr class="text-center">
                        <th>Bill Details</th>
                        <th>Demand Year</th>
                        <th>Bill Amount (₹)</th>
                        <th>Interest (₹)</th>
                        <th>Total (₹)</th>
                        <th>Payment Status</th>
                        <th>Last Due Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="text-center">
                        <td>BILL/74/472148</td>
                        <td>2026</td>
                        <td>270</td>
                        <td>135</td>
                        <td>405</td>
                        <td><span class="badge badge-danger">Due</span></td>
                        <td>22-07-2025</td>
                      </tr>
                      <tr class="text-center">
                        <td colspan="2" class="fw-bold">Total (₹)</td>
                        <td class="fw-bold">270</td>
                        <td class="fw-bold">135</td>
                        <td class="fw-bold">405</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>

                  <h5 class="pb-1"><strong>Bill Dues as on Date</strong></h5>
                  <table class="display table table-bordered my-4" width="100%">
                    <tbody>
                      <tr>
                        <td class="fw-bold">Arrears Bill (₹)</td>
                        <td class="text-center">:</td>
                        <td class="fw-bold text-end">0</td>
                      </tr>
                      <tr>
                        <td class="fw-bold">Arrears Bill Interest (₹)</td>
                        <td class="text-center">:</td>
                        <td class="fw-bold text-end">0</td>
                      </tr>
                      <tr>
                        <td class="fw-bold">Current Bill (₹)</td>
                        <td class="text-center">:</td>
                        <td class="fw-bold text-end">270</td>
                      </tr>
                      <tr>
                        <td class="fw-bold">Arrears Bill Interest (₹)</td>
                        <td class="text-center">:</td>
                        <td class="fw-bold text-end">135</td>
                      </tr>
                      <tr>
                        <td class="fw-bold">Cheque Bounce Penalty (₹)</td>
                        <td class="text-center">:</td>
                        <td class="fw-bold text-end">0.0</td>
                      </tr>
                      <tr>
                        <td class="fw-bold text-primary">Total Payable Amount (₹)</td>
                        <td class="text-center text-primary">:</td>
                        <td class="fw-bold text-end text-primary">405</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
          
        </div>
      </div>
      
    </div>
    
  </div>
</div> 

{% endblock %}