{% extends 'base.html' %}
{% load static %}

{% block title %}User Wise Collection Report{% endblock %}

{% block content %}
<div class="container">
  <div class="page-inner">
    <div class="page-header d-print-none">
      <h4 class="fw-bold mb-3">User Wise Collection Report</h4>
      <ul class="breadcrumbs mb-3">
        <li class="nav-home">
          <a href="{% url 'dashboard' %}">
            <i class="ri-home-3-line"></i>
          </a>
        </li>
        <li class="separator">
          <i class="ri-arrow-right-s-line"></i>
        </li>
        <li class="nav-item">
          <span class="op-7">Reports</span>
        </li>
        <li class="separator">
          <i class="ri-arrow-right-s-line"></i>
        </li>
        <li class="nav-item">
          <span class="op-7">User Wise Collection Report</span>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="card card-stats card-round">  
          <div class="card-header d-print-none">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="form-group">
                  <label for="consumerNo">Consumer No.</label>
                  <input type="text" class="form-control" id="consumerNo" name="consumerNo" value="" placeholder="Enter Consumer No." required>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="form-group">
                  <label for="consumerName">Consumer Name</label>
                  <select class="form-select" id="consumerName" name="consumerName">
                    <option value="">ALL</option>
                    <option value="">MADHUR MANGAL</option>
                    <option value="">ROHIT GUPTA</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-12 py-4 text-center">
                <button type="submit" class="btn btn-primary btn-sm" name="submit" id="orSearch"><i class="fa fa-search"></i> Search</button>
            </div>
          </div>                
          <div class="card-body">
            <div class="table-responsive" id="printableArea">
              <div class="d-print-none">
                <p class="text-start">
                  <button type="submit" class="btn btn-success btn-sm" name="submit" id="exportExcel" onclick="exportExcel()"><strong><i class="ri-file-excel-line"></i> Export Excel</strong></button>
                  <button type="submit" class="btn btn-info btn-sm" onclick="printTable('printableArea')"><strong><i class="ri-printer-line"></i> Print</strong></button>
                </p>
              </div>
              <table id="basic-datatables" class="display table table-hover table-bordered">
                <thead>
                  <tr>
                    <th colspan="12" class="text-center bg-light"><strong>User Wise Collection Report From <span>Date</span> To <span>Date</span></strong></th>
                  </tr>
                  <tr class="text-center">
                    <th>#</th>
                    <th>Consumer No.</th>
                    <th>Consumer Name</th>
                    <th>Receipts</th>
                    <th>Cash(₹)</th>
                    <th>Cheque(₹)</th>
                    <th>Demand Draft(₹)</th>
                    <th>Online(₹)</th>
                    <th>Total(₹)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>98765</td>
                    <td>MADHUR MANGAL</td>
                    <td class="text-end">5</td>
                    <td class="text-end">6,000.00</td>
                    <td class="text-end">5,000.00</td>
                    <td class="text-end">4,000.00</td>
                    <td class="text-end">0.00</td>
                    <td class="text-end">15,000.00</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>87699</td>
                    <td>ROHIT GUPTA</td>
                    <td class="text-end">3</td>
                    <td class="text-end">2,000.00</td>
                    <td class="text-end">1,000.00</td>
                    <td class="text-end">0.00</td>
                    <td class="text-end">1500.00</td>
                    <td class="text-end">55,00.00</td>
                  </tr>
                  <tr class="text-end">
                    <td colspan="3" class="fw-bold">Total (₹)</td>
                    <td class="fw-bold">8</td>
                    <td class="fw-bold">8000.00</td>
                    <td class="fw-bold">6000.00</td>
                    <td class="fw-bold">4000.00</td>
                    <td class="fw-bold">1500.00</td>
                    <td class="fw-bold">20500.00</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          
        </div>
      </div>
      
    </div>
    
  </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/xlsx/dist/xlsx.full.min.js"></script>
<script>
$(document).ready(function () {
  $("#basic-datatables").DataTable({});

  $("#multi-filter-select").DataTable({
    pageLength: 10,
    initComplete: function () {
      this.api()
        .columns()
        .every(function () {
          var column = this;
          var select = $(
            '<select class="form-select"><option value=""></option></select>'
          )
            .appendTo($(column.footer()).empty())
            .on("change", function () {
              var val = $.fn.dataTable.util.escapeRegex($(this).val());

              column
                .search(val ? "^" + val + "$" : "", true, false)
                .draw();
            });

          column
            .data()
            .unique()
            .sort()
            .each(function (d, j) {
              select.append(
                '<option value="' + d + '">' + d + "</option>"
              );
            });
        });
    },
  });

  // Add Row
  $("#add-row").DataTable({
    pageLength: 10,
  });
});

function exportExcel() {
        let table = $('#basic-datatables').DataTable();
        let data = table.rows({ search: 'applied' }).data().toArray();
        let ws = XLSX.utils.aoa_to_sheet([
            table.columns().header().toArray().map(th => th.innerText),
            ...data
        ]);
        let wb = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(wb, ws, "Sheet1");
        XLSX.writeFile(wb, "data.xlsx");
    }
</script>
{% endblock %}